@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Montserrat", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #30b5b2;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #ededed;
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black 
    bg-primary/5 rounded px-4 py-3 mb-4 mt-3 
    border border-primary/10 outline-none 
    focus:border-primary focus:ring-2 focus:ring-primary/40;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-primary 
    shadow-lg shadow-primary/20 p-[10px] rounded-md my-1 
    hover:bg-primary/80 hover:text-white cursor-pointer;
}